body {
    font-size: 2em;
    text-align: center;
    background: #0a071c;
    background-attachment: fixed;
    color: #961470;
}
.container {
    display: inline-block;
}
#display, .button, .bigbutton {
    border-width: 2px;
    border-color: #000;
    border-style: solid;
    background-color: #fff;
    display: inline-block;
    margin: 3px;
    text-align: center;
}
.button:hover, .bigbutton:hover {
    color: #fff;
    background-color: #000;
}
.button {
    width: 73px;
}
.bigbutton {
    width: 164px;
}
#display {
    width: 305px;
    height: 20px;
    padding: 20px;
    text-align: right;
    border-radius: 0;
}
footer{
    position: fixed;
    right: 15px;
    bottom: 0;
    font-size: 20px;
}